html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}


header{
    position:fixed;
    top:0%; left:0%; right:0%;
    background-color: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem  ;


}

.pin3{
    background-size: contain;
    background-repeat: no-repeat;
    width: max-content;
    margin: 0px;
}

#pin3{
    background-size: contain;
    background-repeat: no-repeat;
    /* width: max-content; */
    margin: 0px;
    background-position: 50% 50%;
    object-fit: cover;
}

article.H{
    padding: 50px;

}
    
.image2{
    float: left;
    padding: 20px;
}

img{
    border-style: none;
    vertical-align: middle;
}
