

header{
    padding: 20px;

}

.pin3{
    background-size: contain;
    width: max-content;
    margin: 0px;
}

#pin3{
    background-size: contain;
    background-repeat: no-repeat;
    /* width: max-content; */
    margin: 0px;
    background-position: 50% 50%;
    object-fit: cover;
}

article.H{
    padding: 50px;


}
article.text{
    padding: 10px;
}
    
.image2{
    float: left;
    padding: 20px;
}

img{
    border-style: none;
    vertical-align: middle;
}

#banner{
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    min-height: 100vh;

}

article#qoute{
    padding: 100px;
}


